@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import './fonts.scss';

body {
  background-color: white;
  font-family: 'Ubuntu';
  nav i {
    color: rgb(230,7,36);
  }
}

.hide {
  display: none;
}

#single-board-container {
  position: relative;
  #exit-pins-view {
    position: absolute;
    top: 0;
    right: 0;
  }
  .pins-card {
    border: none;
  }
  // make the delete button appear over images
  .pins-content {
    position: relative;
  }
  .delete-pin-btn {
    position: absolute;
    z-index: 1;
    i {
      color: rgb(230,7,36);
    }
  }
  .edit-pin-btn {
    position: absolute;
    right: 1em;
    z-index: 1;
    i {
      color: rgb(55, 7, 230);
    }
  }
}

.darken-img {
  filter: brightness(50%);
}
